<div class="inbox_people">
  <div class="headind_srch">
    <div class="recent_heading">
      <h4>Recent</h4>
    </div>
    <div class="srch_bar">
      <div class="stylish-input-group">
        <input type="text" class="search-bar" name="search" placeholder="Search" [(ngModel)]="searchText">
        <span class="input-group-addon">
          <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
        </span>
      </div>
    </div>
  </div>
  <div class="inbox_chat">
    <div *ngFor="let user of users | filter:searchText">
      <div class="chat_list" [ngClass]="{'active_chat': selectedUser?.uid === user?.uid}" (click)="onUserSelected(user)">
        <div class="chat_people" >
          <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="user"> </div>
          <div class="chat_ib">
            <h5>{{user.name}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
